/***********************/
/* General */
/***********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgb(133, 117, 117);
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 12rem;
}

.grid-bio {
  row-gap: 0;
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary {
  color: rgb(255, 254, 254);
}
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 35, 35);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(215, 35, 35);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: rgb(160, 0, 0);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: rgb(160, 0, 0);
  color: #fff;
}

.btn--form {
  background-color: rgb(215, 35, 35);
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: rgb(255, 35, 35);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: rgb(160, 0, 0);
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: rgb(215, 35, 35);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(150, 150, 150, 0.788);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/*******************************/
/* STYLE SECTION */
/*******************************/

/***************/
/* LOGO */
/***************/

.logo {
  height: 6.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(160, 0, 0);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(215, 35, 35);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #fff;
  background-color: rgb(160, 0, 0);
}

/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.6rem;
  padding: 0 4.8rem;
  position: relative;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7.6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.884);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #0d0d0d;
  padding: 9.8rem 0 2.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  overflow: hidden;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 75%;
}

.delivered-projects {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: rgb(215, 35, 35);
  font-weight: 700;
}

/**************************/
/* KNOWLEDGE IN SECTION */
/**************************/

.section-knowledge {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-knowledge-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: rgb(68, 68, 68);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 6.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.section-about {
  padding: 9.6rem 0;
}

.about-text {
  /* Fix to inherit "body" */
  padding-bottom: 9.6rem;
  font-size: 1.8rem;

  font-family: "Rubik", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(221, 221, 221);

  overflow-x: hidden;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: rgb(255, 35, 35);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: rgb(221, 221, 221);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: rgb(155, 155, 155);
  z-index: -1;
}

.step-img {
  width: 65%;
  /* z-index: 10; */
}

.img-js {
  cursor: pointer;
}

/**************************/
/* PROJECTS SECTION */
/**************************/

.section-projects {
  margin-top: 7.6rem;
}

.projects {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.065);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer;
}

.banner {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.banner-text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.project-div:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
  opacity: 0.3;
}

.project-div:hover .banner {
  opacity: 1;
}

.projects-content {
  padding: 2.2rem 4.8rem 4.8rem 4.8rem;
}

.projects-tags {
  margin-bottom: 3.6rem;
  display: flex;
  justify-content: left;
  gap: 3rem;
  height: 5rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--CSS {
  background-color: rgba(38, 76, 228, 0.7);
}
.tag--html {
  background-color: RGB(227, 76, 38, 0.7);
}
.tag--JavaScript {
  background-color: RGB(240, 219, 79, 0.7);
}

.projects-title {
  font-size: 3rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.projects-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-attribute {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.projects-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: red;
}

.projects-img {
  width: 100%;
}

.all-projects {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right, #808080, #ffffff);
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e2e2e;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: url("../img/laptop-coding-screen.jpg");
  background-size: cover;
  background-position: left;
}

.cta-form {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-template {
  display: grid;
}

.form-row {
  padding: 1.2rem;
}

.form-input {
  width: 100%;
}

.status-message {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;

  background-color: rgb(215, 35, 35);
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  /* padding: 12.8rem 0; */
  padding: 2.4rem 0;
  border-top: 0.5px solid rgb(226, 225, 225);
  background-color: #ffffff;
}

.grid--footer {
  grid-template-columns: 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/*******************************************/
/* Media Queries */
/*******************************************/

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    /* row-gap: 6.4rem; */
  }

  .grid-bio {
    row-gap: 0;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  /* .header {
    /* padding: 7.6rem 3.2rem; */
  /* } */

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .sticky .main-nav-link:link,
  .sticky .main-nav-link:visited {
    font-size: 3.8rem;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 40%;
  }

  .delivered-projects {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 4.8rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .projects-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .logo {
    height: 4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  /* .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  } */

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .grid {
    row-gap: 0rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .logo {
    height: 4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .grid {
    row-gap: 2.4rem;
  }

  .grid:not(:last-child) {
    margin-bottom: 17rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  /* 
  .btn,
  .btn:link,
  .btn:visited {
    /* padding: 2.4rem 1.6rem; */
  /* }  */

  .section-hero {
    padding: 9.8rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 40%;
  }

  .logos img {
    height: 4.8rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .greeting-container,
  .greeting,
  h1 {
    font-size: 30px;
  }
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .projects-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .projects-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
